name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install meson libglib2.0-dev libyaml-dev libparted-dev
      - name: Build application
        run: |
          meson setup build --buildtype=release
          meson compile -C build
