name: documentation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Receive tags
        run: git fetch --tags origin
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install meson libglib2.0-dev libyaml-dev libparted-dev \
                               python3 python3-virtualenv
      - name: Build documentation
        run: |
          virtualenv -p /usr/bin/python3 -v env
          source env/bin/activate
          pip install -r doc/requirements.txt
          meson setup build -Ddoc=true
          meson compile -C build doc
      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref_name == 'main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/doc/html
