:root {
    --readthedocs-font-family: inherit;
    --readthedocs-flyout-background-color: color-mix(in srgb, var(--dark), var(--black));
    --readthedocs-flyout-current-version-color: var(--teal3);
    --readthedocs-flyout-section-heading-color: var(--gray3);
    --readthedocs-flyout-item-link-color: var(--gray1);
    --readthedocs-flyout-color: var(--gray3);
    --readthedocs-flyout-divider-color: var(--gray-dark);
    --readthedocs-flyout-link-color: var(--teal3);
}
